<section class="about-us" id="about">
  <div class="container">
    <div class="section-card">
        <div class="text-part">
          <h2 class="about-title">
            YachtJet fleet is here to take you on the ultimate adventure
          </h2>
          <div class="benefits">
            <p class="benefit-first">
              From spacious decks to state-of-the-art technology, our yachts are
              designed to provide the perfect blend of luxury and functionality.
            </p>
            <p class="benefit-second">
              Take a look at our selection below and choose the yacht that
              matches your needs and preferences.No matter which yacht you
              choose, our experienced crew will ensure that your journey is
              smooth and enjoyable. Book now and get ready for an unforgettable
              adventure on the high seas.
            </p>
          </div>
        </div>
        <picture>
          <source
            srcset="
              ./img/about-desc-two.png    1x,
              ./img/about-desc-two-2x.png 2x"
            media="(min-width: 1280px)"/>
          <source
            srcset="
              ./img/about-tablet.png    1x,
              ./img/about-tablet-2x.png 2x"
            media="(min-width: 768px)"/>
          <source
            srcset="./img/about-mob.png 1x, 
            ./img/about-mob-2x.png 2x"
            media="(min-width: 320px)"/>
            <img
            srcset="./img/about-mob.png 1x, ./img/about-mob-2x.png 2x"
            src="./img/yacht-mob.png"
            alt="Yacht in the middle of the sea"
            class="about-img"/>
        </picture>
      </div>
  </div>
</section>
