<section class="advantages">
  <div class="container advantages-section">
    <h2 class="visually-hidden">advantages</h2>
    <ol class="advantages-ul">
      <li class="advantages-description">
        <h3 class="advantages-title">01</h3>
        <span class="advantages-span"></span>
        <p class="advantages-text text-sports">Swimming and water sports: try your hand at water skiing</p>
      </li>
      <li class="advantages-description">
        <h3 class="advantages-title">02</h3>
        <span class="advantages-span"></span>
        <p class="advantages-text text-sports">Fishing: try to catch your own dinner</p>
      </li>
      <li class="advantages-description">
        <h3 class="advantages-title">03</h3>
        <span class="advantages-span"></span>
        <p class="advantages-text text-tours-rest">Sightseeing tours: take a shore or island tour, enjoy the views and
          sunsets from the
          water</p>
      </li>
      <li class="advantages-description">
        <h3 class="advantages-title">04</h3>
        <span class="advantages-span"></span>
        <p class="advantages-text text-tours-rest">Rest and relaxation: read a book or listen to music while enjoying
          the
          outdoor
          atmosphere.</p>
      </li>
    </ol>
    <div class="advantages-pictures">
      <picture>
        <source srcset="/img/advantages/area-mob-1x.jpg 1x, /img/advantages/area-mob-2x.jpg 2x" width="335"
          media="(max-width:767px)" />
        <source srcset="/img/advantages/area-tab-1x.jpg 1x, /img/advantages/area-tab-2x.jpg 2x" width="704"
          media="((min-width:768px) and (max-width: 1279px))">
        <source srcset="/img/advantages/area-pc-1x.jpg 1x, /img/advantages/area-pc-2x.jpg 2x" width="432"
          media="(min-width:1280px)">
        <img src="/img/advantages/area-tab-1x.jpg" alt="relax area" width="704">
      </picture>
    </div>
  </div>
</section>