<section class="advantages common-section">
  <div class="container advantages-container">
    <h2 class="visually-hidden">Advantages</h2>
    <ol class="advantages-ul">
      <li class="advantages-description">
        <h3 class="advantages-title">01</h3>
        <div class="advantages-divider"></div>
        <p class="advantages-text">
          Swimming and water sports: try your hand at water skiing
        </p>
      </li>
      <li class="advantages-description">
        <h3 class="advantages-title">02</h3>
        <div class="advantages-divider"></div>
        <p class="advantages-text">Fishing: try to catch your own dinner</p>
      </li>
      <li class="advantages-description">
        <h3 class="advantages-title">03</h3>
        <div class="advantages-divider"></div>
        <p class="advantages-text">
          Sightseeing tours: take a shore or island tour, enjoy the views and
          sunsets from the water
        </p>
      </li>
      <li class="advantages-description">
        <h3 class="advantages-title">04</h3>
        <div class="advantages-divider"></div>
        <p class="advantages-text">
          Rest and relaxation: read a book or listen to music while enjoying the
          outdoor atmosphere.
        </p>
      </li>
    </ol>
    <picture>
      <source
        srcset="
          ./img/advantages/advantages-img-desktop.jpg    1x,
          ./img/advantages/advantages-img-desktop@2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/advantages/advantages-img-tablet.jpg    1x,
          ./img/advantages/advantages-img-tablet@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <img
        class="advantages-img"
        srcset="./img/advantages/advantages-img-mobile@2x.jpg 2x"
        src="./img/advantages/advantages-img-mobile.jpg"
        alt="Relax area"
        width="335"
      />
    </picture>
  </div>
</section>
