<header class="header">
  <div class="header-container">
    <div class="heder-container-logo">
      <a href="/" class="heder-logo">
        yachtjet
      </a>
    </div>
    <nav class="heder-nav">
      <ul class="heder-nav-menu">
        <li class="heder-list">
          <a href="#about" class="heder-button">
            ABOUT
        </a>
      </li>
        <li class="heder-list">
          <a href="#yachts" class="heder-button">
            YACHTS
        </a>
      </li>
          <li class="heder-list">
            <a href="#reviews" class="heder-button">
              REVIEWS
          </a>
        </li>
      </ul>
    </nav>
    <div class="heder-social-container">
      <ul class="heder-social">
        <li class="heder-social-list">
          <a href="" class="heder-social-link">
            <svg width="24" height="24" class="heder-social-ikons">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="heder-social-list">
          <a href="" class="heder-social-link">
            <svg width="24" height="24" class="heder-social-ikons">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="heder-social-list">
          <a href="" class="heder-social-link">
            <svg width="24" height="24" class="heder-social-ikons">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="heder-mob-container">
      <a class="heder-mob-menu-link" href="">
        <svg width="24" height="24" class="heder-mob-menu">
          <use href="./img/icons.svg#icon-menu-burger"></use>
        </svg>
      </a>
    </div>
    <!-- <div class="heder-mob-menu-container is-open">
      <div class="header-mob-list-container">
        <div class="heder-mob-container-logo">
          <p class="heder-mob-logo">
            yachtjet
          </p>
        </div>
          <div class="header-close-btn">
            <button type="button" class="heder-mob-menu-buttom">
              <svg class="heder-mob-menu-close" width="28" height="28">
                <use href="./img/icons.svg#icon-close"></use>
              </svg>
            </button>
          </div>
      </div>
      <nav class="heder-mob-nav">
        <ul class="heder-mob-nav-menu">
          <li class="heder-mob-list">
            <a href="#about" class="heder-mob-button">
              ABAUT
          </a>
        </li>
          <li class="heder-mob-list">
              <a href="#yachts" class="heder-mob-button">YACHTS
            </a>
        </li>
            <li class="heder-mob-list">
              <a href="#reviews" class="heder-mob-button">
                REVIEWS
            </a>
          </li>
        </ul>
      </nav>
      <div class="heder-mob-social-container">
        <ul class="heder-mob-social">
          <li class="heder-mob-social-list">
            <a href="" class="heder-mob-social-link">
              <svg width="24" height="24" class="heder-mob-social-ikons">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="heder-mob-social-list">
            <a href="" class="heder-mob-social-link">
              <svg width="24" height="24" class="heder-mob-social-ikons">
                <use href="./img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="heder-mob-social-list">
            <a href="" class="heder-mob-social-link">
              <svg width="24" height="24" class="heder-mob-social-ikons">
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div> -->
  </div>
</header>
