<section class="rent">
  <div class="container rent-container">
    <div class="rent-modal">
      <form class="rent-modal-form">
        <h2 class="rent-titel">Rent a yacht now</h2>
        <div class="rent-wrap">
          <input
            type="text"
            name="user-name"
            placeholder="Full Name"
            class="rent-input"
          />
        </div>
        <div class="rent-wrap">
          <input
            type="email"
            name="user-email"
            placeholder="Email"
            class="rent-input"
          />
        </div>
        <div class="rent-wrap">
          <input
            type="tel"
            name="user-tel"
            placeholder="Phone number"
            class="rent-input"
          />
        </div>
        <div class="rent-textarea">
          <textarea
            name="user-comment"
            placeholder="Comment"
            class="rent-input rent-comment"
          ></textarea>
        </div>
        <button class="rent-button" type="submit">Send</button>
      </form>
      <div class="rent-img-container"></div>
    </div>
  </div>
</section>
