.about-us {
    position: relative;
    z-index: 1;
}

.about-us-text-part {
    padding: 40px 20px;
}

.about-us-section-card {
    background-color: #FBFBFB;
    position: relative;
    min-height: 675px;
    margin-left: 15px;
    border-radius: 24px;
}

.about-us-title {
    max-width: 295px;
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1B414B;
    margin-bottom: 40px;
}

.about-us-benefit-first {
    max-width: 295px;
    font-size: 18px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1B414B;
    margin-bottom: 20px;
}

.about-us-benefit-second {
    max-width: 295px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #040306;
    opacity: 0.5;
}

.about-us-img {
    width: 100%;
    border-radius: 24px;
    bottom: -25%;
}

@media screen and (min-width:768px) {
    .about-us-section-card {
        width: 704px;
        margin-left: 32px;
    }

    .about-us-title {
        font-size: 48px;
        max-width: 536px;
        margin-bottom: 50px;
    }

    .about-us-benefits {
        width: 389px;
    }
    .about-us-benefit-first {
        font-size: 23px;
    }

    .about-us-benefit-second {
        font-size: 13px;
    }

    .about-us-img {
        width: 704px;
    }
}

@media screen and (min-width: 1280px) {
    .about-us-section-card {
        width: 1180px;
        margin-left: 50px;
    }

    .about-us-text-part {
        display: flex;
    }

    .about-us-title {
        display: flex;
        gap: 189px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .about-us-benefits {
        margin-left: auto;
        margin-right: 0;
        width: 354px;
    }

    .about-us-img {
        width: 1180px;
    }
}