.advantages {
}

.advantages-ul {
  background-color: #1b414b;
  border-radius: 24px;
  row-gap: 40px;
}

.advantages-description {
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 40px;
}

.advantages-description:first-child {
  padding-top: 80px;
}

.advantages-description:last-child {
  padding-bottom: 80px;
}

.advantages-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.05em;
  margin-bottom: 18px;
}

.advantages-span {
  border-radius: 18px;
  width: 100%;
  height: 2px;
  background: rgba(251, 251, 251, 0.1);
  display: block;
  margin-bottom: 18px;
}

.advantages-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
}

.text-sports {
  max-width: 238px;
}

.text-tours-rest {
  max-width: 292px;
}

.advantages-pictures {
  margin-top: 24px;
}

.advantages-pictures {
  border-radius: 24px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .advantages-description {
    padding-left: 32px;
    padding-right: 32px;
  }

  .advantages-span {
    width: 304px;
  }

  .advantages-ul {
    display: flex;
    flex-wrap: wrap;
    row-gap: 44px;
  }

  .advantages-description {
    width: calc((100% - 32px) / 2);
    margin-bottom: 0px;
  }
  .advantages-description:nth-child(1),
  .advantages-description:nth-child(2) {
    padding-top: 90px;
  }

  .advantages-description:nth-child(3),
  .advantages-description:nth-child(4) {
    padding-bottom: 90px;
  }

  .advantages-description:ch {
    padding-top: 80px;
  }

  .advantages-pictures {
    margin-top: 32px;
  }

  .text-sports {
    width: 203px;
  }

  .text-tours-rest {
    width: 292px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .advantages-section {
    display: flex;
  }

  .advantages-ul {
    max-width: 716px;
    width: 424px;
  }

  .advantages-pictures {
    margin-top: 0px;
    margin-left: 32px;
  }
}
