/* .advantages {
} */

.advantages-ul {
  margin: 0;
  list-style-type: none;
  background-color: #1b414b;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 80px 20px;
}

.advantages-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.05em;
}

.advantages-divider {
  border-radius: 18px;
  width: 100%;
  height: 2px;
  background: rgba(251, 251, 251, 0.1);
  margin-top: 18px;
  margin-bottom: 18px;
}

.advantages-text {
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
}

.advantages-img {
  margin-top: 24px;
  border-radius: 24px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .advantages-ul {
    padding: 90px 32px;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 44px;
  }

  .advantages-description {
    width: calc((100% - 32px) / 2);
  }

  .advantages-text {
    font-size: 13px;
    line-height: 1.15;
  }

  .advantages-img {
    margin-top: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-container {
    display: flex;
    column-gap: 32px;
  }

  .advantages-ul {
    width: 716px;
    padding: 90px 50px;
    column-gap: 44px;
    row-gap: 44px;
  }

  .advantages-description {
    width: calc((100% - 44px) / 2);
  }

  .advantages-title {
    font-size: 32px;
    line-height: 1;
  }

  .advantages-img {
    margin-top: 0;
    width: 432px;
  }
}
