/* .reviews {
} */

/* MOBILE */

.reviews-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  margin-bottom: 25px;
}

.reviews-paragraph {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(251, 251, 251, 0.4);
}

.reviews-list {
  margin-top: 40px;
}

/* .reviews-list {} */
/* .reviews-list-item {} */

.reviews-item-two,
.reviews-item-three {
  display: none;
}

.reviews-article {
  border-radius: 24px;
  padding: 32px 16px;
  background-color: #fbfbfb;
  text-align: center;
}

.reviews-avatar {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
}

.reviews-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: #040306;
  margin-top: 24px;
}

.reviews-description {
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: rgba(4, 3, 6, 0.4);
  margin-top: 8px;
}

/* TABLET >= 768 */
@media screen and (min-width: 768px) {
  .reviews-title {
    font-size: 48px;
  }

  .reviews-paragraph {
    font-size: 14px;
    line-height: 1.28;
    max-width: 571px;
    margin-left: auto;
    margin-right: auto;
  }

  .reviews-list {
    margin-top: 75px;

    display: flex;
    gap: 32px;
  }

  .reviews-item {
    width: calc(100% - 32px);
  }

  .reviews-item-two {
    display: block;
  }
}

/* DESKTOP >= 1280 */
@media screen and (min-width: 1280px) {
  .reviews-title {
    max-width: 854px;
    margin-left: auto;
    margin-right: auto;
  }

  .reviews-list {
    gap: 26px;
  }

  .reviews-item {
    width: calc((100% - 26px) / 2);
  }

  .reviews-item-two,
  .reviews-item-three {
    display: block;
  }

  .reviews-article {
    padding-left: 28px;
    padding-right: 28px;
  }
}
