/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./base/reset.css');
@import url('./base/helpers.css');

@import url('./header.css');
@import url('./hero.css');
@import url('./about-us.css');
@import url('./our-yachts.css');
@import url('./advantages.css');
@import url('./rent-a-yacht.css');
@import url('./reviews.css');
@import url('./footer.css');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  color: #fbfbfb;
  background-color: #0e1823;
}
